* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(52, 58, 64);
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    margin: 40px auto;
}

button:hover {
    cursor: pointer;
}

.header {
    background-image: url(../images/nyc.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: rgb(26, 133, 251);
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 999;
}

.header-text {
    font-size: 5rem;
    margin-bottom: 0;
}

.night {
    color: rgba(26, 133, 251, 0.8);
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: rgb(75, 83, 92);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.sidebar.hidden {
    margin-left: -250px;
    box-shadow: none;
}

.content {
    width: 100%;
}

.sidebar-header {
    font-size: 12px;
    padding: 0 10px;
    margin-top: 16px;
}

.cast-member-btn-wrapper {
    position: relative;
    margin: 10px auto;
}

.cast-member-reorder {
    position: absolute;
    top: 25px;
    left: 26px;
    z-index: 9999;
    font-size: 18px;
}

.cast-member-reorder:hover {
    cursor: -webkit-grab;
}

.cast-member-reorder:active {
    cursor: -webkit-grabbing;
}

.cast-member-name {
    display: inline;
    position: absolute;
    top: 23px;
    left: 94px;
}

.cast-member-btn {
    width: 220px;
    height: 65px;
    overflow: hidden;
    font-size: 12px;
    padding: 6px 8px;
    position: relative;
}

.cast-member-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 6px;
    left: 36px;
}

.cast-member-btn-close {
    position: absolute;
    background-color: transparent;
    border: transparent;
    color: rgb(255, 255, 255);
    top: -10px;
    right: 4px;
    z-index: 9999;
}

.cast-member-btn-close:hover {
    color: rgb(230, 230, 230);
}

.cast-member-btn-close:active,
.cast-member-btn-close:focus {
    outline: none;
}

.search-form {
    display: none;
    position: relative;
    background-color: rgba(26, 133, 251, 0.6);
    width: 100%;
    padding: 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    font-size: 2rem;
}

#search-input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 50%;
    color: rgb(255, 255, 255);
}

#search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-form-btn {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
}

.search-form-btn:hover {
    color: rgb(230, 230, 230);
}

.search-form-btn:active,
.search-form-btn:focus {
    border: none;
    background: none;
}

#close-search-btn {
    position: absolute;
    right: 10px;
    top: 25%;
}

.main-btn {
    background-color: rgb(75, 83, 92);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 10px;
}

.placeholder-message {
    background-color: rgba(26, 133, 251, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    max-width: 80%;
    margin: 0 auto;
}

.placeholder-message p {
    margin-bottom: 6px;
}

.gif-container {
    position: relative;
    display: inline-block;
}

.cast-member-gif {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    margin: 10px;
}

.gif-rating {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    font-weight: bolder;
}

@media screen and (max-width: 992px) {
    .header-text {
        font-size: 4rem;
    }
    .search-form {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .header-text {
        font-size: 3rem;
    }
    .search-form {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 576px) {
    .header-text {
        font-size: 2rem;
    }
    .search-form {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {
    .header-text {
        font-size: 1.6rem;
    }
    .search-form {
        font-size: 1.2rem;
    }
}